@model PagedList.IPagedList<CitiesProject.Models.City>
@using PagedList.Mvc;

@{
    ViewBag.Title = "רשימת ערים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mt-4" dir="rtl">
    <div style="min-width: 600px; max-width: 850px; width: 100%;">
        <h2 class="text-center mb-4">רשימת ערים</h2>

        <div class="row mb-3 align-items-center">
            <div class="col-md-6">
                @Html.ActionLink("הוסף עיר", "Create", null, new { @class = "btn btn-success w-100" })
            </div>
            <div class="col-md-6">
                <div class="input-group flex-row-reverse">
                    <button class="btn btn-outline-secondary" type="button" id="clearSearch">נקה</button>
                    <input type="text" id="searchInput" class="form-control text-end"
                           placeholder="חפש עיר"
                           value="@ViewBag.CurrentFilter"
                           data-sort="@ViewBag.CurrentSort" />
                </div>
            </div>
        </div>

        <div id="citiesTable">
            @Html.Partial("_CitiesTable", Model)
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function loadCities(query = "") {
            const sort = $("#searchInput").data("sort");
            $.get("@Url.Action("Index", "Cities")", {
                searchString: query,
                sortOrder: sort
            }, function (data) {
                const newHtml = $(data).find("#citiesTable").html();
                $("#citiesTable").html(newHtml);
            });
        }

        $(document).ready(function () {
            let typingTimer;
            $("#searchInput").on("input", function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(() => {
                    loadCities($(this).val());
                }, 300);
            });

            $("#clearSearch").on("click", function () {
                $("#searchInput").val("");
                loadCities("");
            });
        });
    </script>
}
